<div id="signupFormModal" class="modal hidden">
    <div class="modal-box signup-form-modal-box">
        <button type="button" class="modal-close">×</button>

        <h2>회원가입</h2>

        <form class="signup-form">
            <div class="signup-field">
                <label for="signupEmail">이메일</label>

                <div class="signup-input-button-row">
                    <input
                        type="text"
                        id="signupEmail"
                        name="signupEmail"
                        placeholder="이메일 주소를 입력해주세요."
                        autocomplete="email"
                    >

                    <button type="button" id="signupEmailCheckBtn" class="inside-btn">
                        중복 확인
                    </button>
                </div>

                <p id="signupEmailFormatError" class="input-error hidden">
                    × 잘못된 이메일 양식입니다.
                </p>

                <p id="signupEmailDuplicateError" class="input-error hidden">
                    × 중복된 이메일 주소입니다.
                </p>

                <p id="signupEmailAvailableMessage" class="input-success hidden">
                    {% include "start/components/icons/check_icon.html" with icon_class="signup-check-icon" %}
                    사용 가능한 이메일입니다.
                </p>
            </div>

            <div class="signup-field">
                <label for="signupPassword">비밀번호</label>

                <div class="signup-password-box">
                    <input
                        type="password"
                        id="signupPassword"
                        name="signupPassword"
                        placeholder="비밀번호를 입력해주세요."
                        autocomplete="new-password"
                    >

                    <button type="button" class="signup-password-toggle" data-target="signupPassword">
                        {% include "start/components/icons/eye_off.html" with icon_class="signup-eye-icon" state_class="eye-off active" %}
                        {% include "start/components/icons/eye_open.html" with icon_class="signup-eye-icon" state_class="eye-open" %}
                        {% include "start/components/icons/check_icon.html" with icon_class="signup-check-icon password-match-check" %}
                    </button>
                </div>

                <p id="signupPasswordRuleMessage" class="password-rule-message">
                    * 10자~16자 / 영문 대소문자, 숫자 필수 포함 / 공백 미포함
                </p>
            </div>

            <div class="signup-field">
                <label for="signupPasswordCheck">비밀번호 확인</label>

                <div class="signup-password-box">
                    <input
                        type="password"
                        id="signupPasswordCheck"
                        name="signupPasswordCheck"
                        placeholder="비밀번호를 다시 입력해주세요."
                        autocomplete="new-password"
                    >

                    <button type="button" class="signup-password-toggle" data-target="signupPasswordCheck">
                        {% include "start/components/icons/eye_off.html" with icon_class="signup-eye-icon" state_class="eye-off active" %}
                        {% include "start/components/icons/eye_open.html" with icon_class="signup-eye-icon" state_class="eye-open" %}
                        {% include "start/components/icons/check_icon.html" with icon_class="signup-check-icon password-match-check" %}
                    </button>
                </div>

                <p id="signupPasswordMatchError" class="input-error hidden">
                    × 비밀번호가 일치하지 않습니다.
                </p>
            </div>

            <div class="signup-field">
                <label for="signupCode">인증코드</label>

                <div class="signup-input-button-row signup-code-row">
                    <input
                        type="text"
                        id="signupCode"
                        name="signupCode"
                        placeholder="인증코드를 입력해주세요."
                        autocomplete="off"
                    >

                    <span id="signupCodeTimer" class="signup-code-timer hidden">3:00</span>

                    <button type="button" id="signupCodeSendBtn" class="inside-btn">
                        전송
                    </button>
                </div>

                <p id="signupCodeSendMessage" class="input-success hidden">
                    {% include "start/components/icons/paper_plane.html" with icon_class="paper-plane-icon" %}
                    인증코드를 전송하였습니다.
                </p>

                <p id="signupCodeError" class="input-error hidden">
                    × 인증코드가 일치하지 않습니다.
                </p>

                <p id="signupCodeExpiredError" class="input-error hidden">
                    × 인증코드가 만료되었습니다.
                </p>
            </div>

            <button type="button" id="signupSubmitBtn" class="signup-submit-btn">
                회원가입
            </button>
        </form>
    </div>
</div>