# Django -> FastAPI model server
MODEL_SERVER_URL=http://127.0.0.1:8001

# FastAPI model server
# AI_MODE options: mock, openai, rag, agent
AI_MODE=agent
OPENAI_API_KEY=  # [OPENAI KEY HERE]
OPENAI_MODEL=gpt-4.1-nano-2025-04-14

# Browser/frontend origin allowed by FastAPI CORS
FRONTEND_ORIGIN=http://127.0.0.1:8000

# Django email settings for password reset / email features
EMAIL_HOST_USER=  # [EMail HERE]
EMAIL_HOST_PASSWORD=  # [EMail PW HERE]

# STT / TTS mode settings
STT_MODE=mock
TTS_MODE=mock
OPENAI_STT_MODEL=whisper-1
OPENAI_TTS_MODEL=tts-1
OPENAI_TTS_VOICE=alloy
