DJANGO_SECRET_KEY=                          # [OPENAI KEY HERE]
OPENAI_API_KEY=                             # [OPENAI KEY HERE]

# Django Email settings
EMAIL_HOST_USER=                            # [EMail HERE]
EMAIL_HOST_PASSWORD=                        # [EMail PW HERE]
