<div class="voice-record-modal hidden" id="voiceRecordModal">
    <div class="voice-record-box">
        <div class="voice-record-rings">
            <span class="voice-ring ring-1"></span>
            <span class="voice-ring ring-2"></span>
            <span class="voice-ring ring-3"></span>
            <span class="voice-ring ring-4"></span>

            <div class="voice-record-core">
                {% include "chat/components/icons/mic_icon.html" %}
            </div>
        </div>

        <p class="voice-record-time" id="voiceRecordTimer">0s</p>
    </div>
</div>