{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}For everyOne{% endblock %}</title>

    <!-- 공통 CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- 페이지별 CSS -->
    {% block extra_css %}
    {% endblock %}
</head>

<body>
    <!-- 페이지 본문 -->
    {% block content %}
    {% endblock %}

    <!-- 모달 영역 -->
    {% block modal %}
    {% endblock %}

    <!-- 페이지별 JS -->
    {% block extra_js %}
    {% endblock %}
</body>
</html>